// Custom styles.

body {   	background: url(/images/background.jpg);    background-size: cover;    background-repeat: no-repeat;    background-attachment: fixed;    background-position: center;}
.content {    border-radius: 10px;    margin-top: 60px;    background:rgba(#FFFFFF,70%) none repeat scroll !important;}
.footer-inner {color: #71CFFF;}

.footer {
	background:rgba(#EBFFC9,70%) none repeat scroll !important;
}/*.header{	height: 600px	background: url(/images/header-bg.png);	background-repeat: no-repeat;	background-position: center;	background-attachment: fixed;	background-size: cover;}*/