// Custom styles.
//分隔
.posts-expand {
  .post-eof {
    display: block;
    margin: $post-eof-margin-top auto $post-eof-margin-bottom;
    width: 100%;
    height: 20px;
	//opacity:0.0;
    background: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
  }
}
.posts-expand .post {
  margin-top: -55px;
}
//目录
.category-list-count {
	color: #F8FFC8 !important;
}
//词云
.tag-cloud a {
	display: inline-block;
    margin: 10px;
	color: #F1C40F !important;
}

.sidebar {
	background: url(/images/sidebar_2.png);
	background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
}
//来必力
#lv-container {
    border-radius: 10px;
    background:rgba(#72C5FE,70%) none repeat scroll !important;
}

body {   	background: url(/images/background.jpg);    background-size: cover;    background-repeat: no-repeat;    background-attachment: fixed;    background-position: center;}
.content {    border-radius: 10px;    margin-top: 60px;    background:rgba(#FFFFFF,70%) none repeat scroll !important;}
.footer-inner {color: #71CFFF;}

.footer {
	background:rgba(#EBFFC9,70%) none repeat scroll !important;
}/*.header{	height: 600px	background: url(/images/header-bg.png);	background-repeat: no-repeat;	background-position: center;	background-attachment: fixed;	background-size: cover;}*/